body{
	background: black;
}
#Header{
	text-align: center;
	font-family: sans-serif;
	color: black;
	background: white;
	font-size: 50pt;
	font-weight: bold;
	padding: 30px;
	margin: auto;
}

#grid{
	padding: 10px;
	display: grid;
	gap: 3rem;
	grid-template-columns: 1fr;
}

#bio{
	text-align: left;
	font-family: sans-serif;
	color: white;
	font-size: 18pt;
	padding: 10px;
	width: 400px;
	margin: auto;
}

#B{
	width: 400px;
	margin: auto;
	opacity: 0.3;
}
#B:hover{
	opacity: 1.0;
}

#n{
	width: 400px;
	margin: auto;
	opacity: 0.3;
}
#n:hover{
	opacity: 1.0;
}

#a{
	width: 400px;
	margin: auto;
	opacity: 0.3;
}
#a:hover{
	opacity: 1.0;
}
#R{
	width: 400px;
	margin: auto;
	opacity: 0.3;
}
#R:hover{
	opacity: 1.0;
}
