body{
	background: black;
}

#Header{
	text-align: center;
	font-family: sans-serif;
	color: black;
	background: white;
	font-size: 40pt;
	font-weight: bold;
	padding: 20px;
	margin: auto;
}

#grid{
	padding: 10px;
	display: grid;
	gap: 3rem;
	grid-template-columns: 1fr;
}

#bio{
	text-align: left;
	font-family: sans-serif;
	color: white;
	font-size: 20pt;
	font-weight: bold;
	padding: 10px;
	width: 350px;
	margin-top: 0px;
	margin: auto;
}

#bio2{
	text-align: left;
	font-family: sans-serif;
	color: white;
	font-size: 15pt;
	padding: 10px;
	width: 350px;
	margin-top: 0px;
	margin: auto;
}

.scroll-container{
	cursor: e-resize;
	overflow: auto;
	white-space: nowrap;
	padding: 5px;
	width: 350px;
	background-color:black;
	opacity: 0.3;
	margin: auto;
}
.scroll-container:hover{
	opacity: 1.0;
}

#FC1{
	width: 350px;
}
#FC2{
	width: 350px;
}
#FC3{
	width: 350px;
}
#FC4{
	width: 350px;
}
#FC5{
	width: 350px;
}
#FC6{
	width: 350px;
}
#FC7{
	width: 350px;
}
#FC8{
	width: 350px;
}
#FC9{
	width: 350px;
}

#Pro2{
	text-align:left;
	font-family: sans-serif;
	color: white;
	font-size: 20pt;
	font-weight: bold;
	padding: 5px;
	width: 350px;
	margin-top: 0px;
	margin: auto;
}

#IM{
	width: 350px;
	opacity: 0.3;
	margin: auto;
}
#IM:hover{
	opacity: 1.0;
}

#IM2{
	text-align: left;
	font-family: sans-serif;
	color: white;
	font-size: 15pt;
	padding: 5px;
	width: 350px;
	margin-top: 0px;
	margin: auto;
}

#BookCover1{
	text-align: left;
	font-family: sans-serif;
	color: white;
	font-size: 20pt;
	font-weight: bold;
	padding: 5px;
	width: 350px;
	margin-top: 0px;
	margin: auto;
}

#BC1{
	width: 350px;
}
#BC2{
	width: 350px;
}
#BC3{
	width: 350px;
}
#BC4{
	width: 350px;
}
#BC5{
	width: 350px;
}
#BC6{
	width: 300px;
}
#BC7{
	width: 300px;
}
#BC8{
	width: 300px;
}
#BC9{
	width: 300px;
}
#BC10{
	width: 350px;
}
#BC11{
	width: 350px;
}
#BC12{
	width: 350px;
}
#BC13{
	width: 350px;
}
#BC14{
	width: 350px;
}
#BC15{
	width: 350px;
}

#BookCover2{
	text-align: left;
	font-family: sans-serif;
	color: white;
	font-size: 15pt;
	padding: 5px;
	width: 350px;
	margin-top: 0px;
	margin: auto;
}

#Pro4{
	text-align: left;
	font-family: sans-serif;
	color: white;
	font-size: 20pt;
	font-weight: bold;
	padding: 4px;
	width: 350px;
	margin-top: 0px;
	margin: auto;
}

#Currency10F{
	width: 350px;
}
#Currency10B{
	width: 350px;
}
#Currency20F{
	width: 350px;
}
#Currency20B{
	width: 350px;
}
#Currency50F{
	width: 350px;
}
#Currency50B{
	width: 350px;
}

#CRC{
	text-align: left;
	font-family: sans-serif;
	color: white;
	font-size: 15pt;
	padding: 5px;
	width: 350px;
	margin-top: 0px;
	margin: auto;
}
#MC{
	width: 350px;
	height: 225px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
