body{
	background:black;
}

#bio{
	font-family: sans-serif;
	color: white;
	font-size: 15pt;
	font-weight: bold;
	padding: 10px;
	width: 400px;
	margin: auto;
}


#MC{
	width: 350px;
	height: 225px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
