body{
	background: black;
}

#grid{
	padding: 10px;
	display: grid;
	gap: 3rem;
	grid-template-columns: 1fr 1fr;
}

#name{
	color: black;
	background: white;
	width: 350px;
	height: 350px;
	padding: 25px;
	text-align: left;
	font-family: sans-serif;
	font-size: 50pt;
	font-weight: bold;
}

#bio{
	text-align: left;
	font-family: sans-serif;
	color: white;
	font-size: 20pt;
	padding: 5px;
	width: 350px
}

#contact{
	font-family: sans-serif;
	font-weight: bold;
	color: white;
	font-size: 30pt;
	padding: 20px;
	margin: auto
}

#GD1{
	text-align: left;
	font-family: sans-serif;
	color: white;
	font-size: 20pt;
	padding: 5px;
	font-weight: bold;
}

#GD2{
	text-align: left;
	font-family: sans-serif;
	color: white;
	font-size: 20pt;
	padding: 5px;
	font-weight: bold;
}

#GD3{
	text-align: left;
	font-family: sans-serif;
	color: white;
	font-size: 20pt;
	padding: 5px;
	font-weight: bold;
}

#MD{
	text-align: left;
	font-family: sans-serif;
	color: white;
	font-size: 20pt;
	padding: 5px;
	font-weight: bold;
}

#Interactive{
	text-align: left;
	font-family: sans-serif;
	color: white;
	font-size: 20pt;
	padding: 5px;
	font-weight: bold; 
}
